matplotlib==3.10.1
numpy
pillow
pymongo
simplejson
joblib
packaging
python-dateutil
six
sniffio
unicodedata2
cycler
kiwisolver
pyparsing
munkres
mysql-connector-python
Flask-Session
python-dotenv
waitress
